.site-footer {
	color: #999;
    background-color: #191919;
	border-top: 3px solid var(--vk-color-primary);
	.widget-title.sub-section-title {
		padding: 12px 0 10px;
		margin-top: 0;
	}
}

.footer-nav {
	border-bottom: 1px solid rgba(255,255,255,.15);
	padding: 0;
}


.footer-nav-list > li {
	margin-bottom: 0;
}

.footer-nav-list > li > a {
	color: #999;
}

@media (max-width: 767px ) {
	.footer-nav-list li {
		border-bottom: 1px solid rgba(255,255,255,.15);
	}

	.footer-nav-list li:last-child {
		border-bottom: none;
	}
}

@media (min-width: 768px ) {
	.footer-nav-list {
		margin: 10px 0 12px;
	}
	.footer-nav-list li {
		border-right: 1px solid rgba(255,255,255,.15);
	}

	.footer-nav-list li:first-child {
		border-left: 1px solid rgba(255,255,255,.15);
	}
}

.site-footer-content {
    position: relative;
    padding-top: 2em;
}
