.page-header {
	display: none;
}

.global-nav.global-nav--layout--penetration,
.header_scrolled .global-nav.global-nav--scrolled--nav-container {
	background-color: var(--vk-color-primary);
	border-top: 2px solid var(--vk-color-primary);
}

.header_scrolled .global-nav.global-nav--scrolled--nav-container {
    width: auto;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    clear: both;
}

.global-nav--layout--penetration .global-nav-list > li,
.global-nav--layout--penetration .global-nav-list > li:first-child {
    border-left: 1px solid rgba(255,255,255,.2);
}

.global-nav--layout--penetration .global-nav-list > li:last-child {
    border-right: 1px solid rgba(255,255,255,.2);
}

.global-nav--layout--penetration .global-nav-list > li:hover,
.global-nav--layout--penetration .global-nav-list > li[class*=current] {
    transition: all .5s ease-out;
    background-color: rgba(255,255,255,.05);
}

.global-nav--layout--penetration .global-nav-list > li > a {
	color: #fff;
}
