.site-body-bottom .widget,
.sub-section .widget,
.add-section .widget {
    background-color: #fff;
    padding: 10px;
	border: solid 1px rgba(0,0,0,.1);
	margin-bottom: 20px;
}

.sub-section .sub-section-title,
.add-section .sub-section-title,
.sub-section .widget-title,
.sub-section .widget-title {
	background-color: var(--vk-color-primary);
    color: #fff;
	margin: -10px -10px 10px -10px;
	padding: 10px;
	border-radius: 0;
}